html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rajdhani', sans-serif;
}

#entete{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;

}




h1{
 font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color:#262526;
    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}
.container-fluid{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:#262526;
    text-align: center;
    margin-top: 1%;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
}


.divider{
  display: flex;
  align-items: center;

}
.divider::before, .divider::after{
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color:  #262526;
}
#formauto{
    position: relative;
    border: 1px solid #262526;
    border-left: none;
    border-right: none;
    background-color: rgba(red, green, blue, alpha);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
    min-height: 10px;
    text-align: center;
    padding: 2%;
}
#motcle{
    height: 30px;
    width: 300px;
    border:none;
    padding-left: 2px;
}
.btfind{
    height: 30px;
    width: 300px;
    border:none;
    background-color: #f6f6f6;
    color: #262526;
}
.btfind:hover{
    background-color: #262526;
    color: #f6f6f6;
}


#articles{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;vertical-align: middle;

}
#auto{
    font-family: 'Barlow', sans-serif;
     border: 1px solid #262526;
     width: 150px;
     min-height: 200px;
     margin: 10px;
     padding-left: 10px;
     float: left;
}
#auto img{
    margin: 5px;
    width: 130px;
    height: 100px;
    padding: 10px;
}

b{
    color: #262526;
    font-size: 20px;
}
#logo{
    
    margin:auto;
    display: flex;
    justify-content: center;
    position: relative;
    width: 20% ;
    height: 20% ;

}


/*---------------login---------------*/

/*a{
    text-decoration: none;
    color: #262526;
    display: flex;
      
}*/


#entete .login{
    opacity: 0.8; 
    padding: 14px 20px;    
    margin: 8px 0;
    background-color: #ada5a5;
    border-right: none;
    cursor: pointer;
    width: 5px;
    right: 0;
    position: absolute;
    z-index: 10;
    text-align: center;
}

#entete .login:hover{
    opacity: 1;
    background-color: #262526;
    color: #f6f6f6;
    border: none;
}


/*****************page login*******************/

#container{
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}
#container h1{

    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #262526 ;
    font-size: 25px; 
}

.formulaire{

    width: 100%;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2), inset 0px 5px 5px 0px rgba(0,0,0,0.25);

}

.zonetext{
   background-color: #262526;
    color: #f6f6f6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}

.submit{
    background-color: #D95350;
    color: #f6f6f6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.submit:hover{
    background-color: #f6f6f6;
    color: #262526;
    border: 1px solid #262526;
}
    
  /*---------------Accueil---------------*/

#global{
    width: 100%;
    padding: 5px;
    margin: 10px; 
}
#global #profil{
    width: 20%;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    min-height: 100px;
    display: inline-block;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    font-weight: bold ;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2), inset 0px 5px 5px 0px rgba(0,0,0,0.25);
}
#global #tableaubord{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2), inset 0px 5px 5px 0px rgba(0,0,0,0.25);
    min-height: 100px;
    display: inline-block;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    width: 78%;
    vertical-align: middle;
    padding-top: 20px;
    margin: 5px;
}


table{


    caption-side: bottom;
    border: 1px;
    width: 100%;
   

}
th, td{
    border: none;
    padding: 10px;

}
th{
    border: none;
    padding: 10px;
    background-color: #D95350;
}

.photocar{
    width: 130px;
    height: 100px;
    border-radius: 5%;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    background-color: #f6f6f6;

    
}










    
    
    
    






















    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    







